<mat-sidenav-container class="sidenav-container">

  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'push' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar class="head" >
      
    </mat-toolbar>
    
    <mat-divider></mat-divider>
    <mat-nav-list class="menu">
      <a mat-list-item routerLink="/products" class="menu-item">
        <mat-icon> store</mat-icon>
        <span>Productos</span>
      </a>
      <a mat-list-item routerLink="/checkout/cart-details" class="menu-item">
        <mat-icon> shopping_cart</mat-icon>
        <span>Carrito</span>
      </a>
      <a mat-list-item routerLink="/about" class="menu-item">
        <mat-icon> info</mat-icon>
        <span> About</span>
      </a>
    </mat-nav-list>
    <mat-divider></mat-divider>
    <footer class="footer">
      <p> <small class="text-light">Test para <a href="https://soaint.com/" class="text-white links">SOAINT</a>, por <a href="https://twitter.com/RE15EL" class="text-white">@reisel</a>.</small></p>
    </footer>
    
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <a routerLink="['/']" class="links"> My SOAINT test  </a>
      <span class="spacer"></span> 
      <div class="rightside-container d-flex flex-row align-items-center justify-content-end">
        <!-- nombre del usuario logueado -->
        <!-- <span> {{ isUserLogged$ | async | json}}</span> -->
        <div class="user-logged" *ngIf= "(isUserLogged$ | async)" >
          <span>  {{ (currentUserLogged$ | async)?.email | json }} </span>        
        </div>

        <!-- login side -->
        <div class="login">          
          <span [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon class="mat-18" >person</mat-icon>
          </span>
          <!-- menu -->
          <mat-menu #menu="matMenu" yPosition="below">
            <a mat-menu-item routerLink="/auth/register" >
              <mat-icon>app_registration</mat-icon>
              <span >Registro</span>
            </a>
            <ng-container *ngIf="!(isUserLogged$ | async); else loginAction">
              <a mat-menu-item  routerLink="/auth/login" >
                <mat-icon>login</mat-icon>
                <span >Iniciar sesión</span>
              </a>
            </ng-container>
            <ng-template #loginAction>
              <a mat-menu-item (click)="logout()" >
                <mat-icon>logout</mat-icon>
                <span >Cerrar sesión</span>
              </a>
          </ng-template>
          </mat-menu>
        </div>

        <!-- cart side -->
        <div class="cart">
          <app-cart 
              matBadge="{{ qty }}"
              matBadgeOverlap="false" 
              matBadgePosition="above after"
              matBadgeColor="warn"
              matBadgeSize="small"
              matBadgeOverlap="false"
              [matBadgeHidden]="qty==0"
              
              routerLink="/checkout"            
              >
          </app-cart>
          
        </div>   
      </div>
      <span>  </span>
      <!-- <span matBadge="{{ qty$ |async | json }}" matBadgeOverlap="false" 
        matBadgePosition="above after" matBadgeColor="primary" matBadgeSize="small"></span> -->
    </mat-toolbar>
    <!-- Add Content Here -->
    <div class="main-container">
      <span *ngIf="loading$ | async">
        <app-spinner></app-spinner>
      </span>
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>
