<div class="content container">    
        <mat-card class="my-card">
            <mat-card-header class="title">
                <mat-card-title>Inicie sesión</mat-card-title>
            </mat-card-header>              
            <mat-card-content class="card-body">
                <!-- formulario -->
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <div class="row">
                        <div class="col">
                            <mat-form-field class="full-width my-3">
                                <mat-label> Correo electrónico </mat-label>
                                <input matInput placeholder="user@domain.com" formControlName="email" class="full-width">
                                <mat-error *ngIf="loginForm.controls['email'].hasError('required')">
                                    Email es <strong>requerido</strong>
                                </mat-error>
                                <mat-error *ngIf="loginForm.controls['email'].hasError('email')">
                                    Email <strong>incorrecto</strong> 
                                </mat-error>
                            </mat-form-field>   
                            
                            <mat-form-field class="full-width my-3">
                                <mat-label> Contraseña </mat-label>
                                <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" class="full-width" placeholder="pass">
                                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                                <mat-error *ngIf="loginForm.controls['password'].hasError('required')">
                                    La contraseña es <strong>requerida</strong>
                                </mat-error>
                                <mat-error *ngIf="loginForm.controls['password'].hasError('minlength')">
                                    La contraseña tiene menos de <strong>5</strong> caracteres 
                                </mat-error>
                            </mat-form-field>

                            <button [disabled]="loginForm.invalid" mat-raised-button color="primary" type="submit" class="full-width">Ingresar</button>
                            <mat-card-subtitle class="my-3">
                                Si aún no tienes una cuenta 
                                <a routerLink="/auth/register">
                                    <strong> !regístrate aquí! </strong>
                                </a>
                            </mat-card-subtitle> 
                        </div>       
                    </div>       
                </form>
                <!--  -->
            </mat-card-content>
        </mat-card>
</div>  
