.content{
    // display: flex;
    // justify-content: center;  
    // flex-direction: column;  

    .my-card{   
        width: 80%;
        margin: 20px auto;

        .titl{
            font-size: 20px;
            font-weight: 500;
        }
        .login-img{
            width: 150px;
            height: 150px;
        }
        .full-width {
            width: 100%;
        }
    }
}


