<div class="container">
    <ng-container *ngIf="qty$!=0; else empyCart">
        <mat-card class="shipping-card">
            <mat-card-header class="title">
                <mat-card-title>Checkout Information      </mat-card-title>
            </mat-card-header>
            <mat-card-content class="body">            
                <form [formGroup]="addressForm" (ngSubmit)="onSubmit()">
                    <!-- name -->
                    <div class="row">
                        <div class="col">
                            <mat-form-field class="full-width">
                                <input matInput placeholder="Nombre" formControlName="name">
                                <mat-error *ngIf="addressForm.controls['name'].hasError('required')">
                                    Nombre es <strong>requerido</strong>
                                </mat-error>
                                <mat-error *ngIf="addressForm.controls['name'].hasError('minlength')">
                                    Tiene menos de <strong>3</strong> caracteres
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    
                    <!-- address -->
                    <div class="row">
                        <div class="col">
                            <mat-form-field class="full-width">
                                <input matInput placeholder="Dirección" formControlName="address">
                                <mat-error *ngIf="addressForm.controls['address'].hasError('required')">
                                    La dirección es <strong>requerida</strong>
                                </mat-error>
                                <mat-error *ngIf="addressForm.controls['address'].hasError('minlength')">
                                    Tiene menos de <strong>3</strong> caracteres
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <!-- city -->
                    <div class="row">
                        <div class="col">
                            <mat-form-field class="full-width">
                                <input matInput placeholder="Ciudad" formControlName="city">
                                <mat-error *ngIf="addressForm.controls['city'].hasError('required')">
                                    La ciudad es <strong>requerida</strong>
                                </mat-error>
                                <mat-error *ngIf="addressForm.controls['city'].hasError('minlength')">
                                    Tiene menos de <strong>3</strong> caracteres
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <!-- Delivery -->
                    <div class="row">
                        <div class="col">
                            <mat-radio-group formControlName="PickupOrDelivery"> 
                                <mat-radio-button value="delivery"  [checked]="true">
                                    Delivery
                                </mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>
                    
                    <!-- button -->
                    <div class="row mt-3">
                        <div class="col">
                            <button mat-raised-button color="primary" class="full-width" [disabled]="addressForm.invalid" type="submit">
                                <!-- [disabled]="addressForm.invalid" -->
                                Checkout
                            </button>
                        </div>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>

        <mat-card class="details-card">
            <mat-card-header class="title">
                <mat-card-title>Checkout details</mat-card-title>
            </mat-card-header>
            <mat-card-content class="body ">            
                <app-details class="full-width"></app-details> 
            </mat-card-content>
        </mat-card>
    </ng-container>
    <ng-template #empyCart>
        <mat-card class="shipping-card">
            <mat-card-header>
                <mat-card-title>Su carrito de compras esta vacío</mat-card-title>
            </mat-card-header> 
            <mat-card-content class="row p-3">
                <div class="imggg col col-4-sm d-flex justify-content-center align-items-center">
                    <img matCardImage src="./../../../assets/img/empty_shopping_cart.png" 
                    class="img-fluid imgg ">
                </div>
                <div class="col col-8 d-flex justify-content-center align-items-center flex-column">
                    <div class="des text-center">
                        <p  class="desc ">
                            Le brindamos una amplia variedad de <a routerLink="/products">productos</a> de distintas categorías (Libros, Electrónica, Computadoras),
                            los cuales puede visualizar y agregar a su carrito si así lo desea. 
                        </p>
                        <h4>
                            <a mat-raised-button routerLink="/products" class="bt"> Visualizar productos</a>
                        </h4>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </ng-template>
</div>