<div class="container">
    <mat-card class="shipping-card">
        <mat-card-header class="title">
            <mat-card-title>Checkout Information</mat-card-title>
        </mat-card-header>
        <mat-card-content class="body">            
            <form [formGroup]="addressForm" (ngSubmit)="onSubmit()">
                <!-- name -->
                <div class="row">
                    <div class="col">
                        <mat-form-field class="full-width">
                            <input matInput placeholder="Nombre" formControlName="name">
                            <mat-error *ngIf="addressForm.controls['name'].hasError('required')">
                                Nombre es <strong>requerido</strong>
                            </mat-error>
                            <mat-error *ngIf="addressForm.controls['name'].hasError('minlength')">
                                Tiene menos de <strong>3</strong> caracteres
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <!-- PickupOrDelivery -->
                <div class="row">
                    <div class="col">
                        <mat-radio-group formControlName="PickupOrDelivery">
                            <p>Seleccione método</p>
                            <mat-radio-button value="pickup" (change)="onPickupOrDelivery(false)"  >
                                Pickup
                            </mat-radio-button>
                            <mat-radio-button value="delivery" (change)="onPickupOrDelivery(true)" >
                                Delivery
                            </mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
                <ng-container *ngIf="isDelivery; else showStores"> <!-- si es servicio de entrega-->
                    <!-- shippingAddress -->
                    <div class="row">
                        <div class="col">
                            <mat-form-field class="full-width">
                                <input matInput placeholder="Dirección de entrega" formControlName="shippingAddress">
                                <mat-error *ngIf="addressForm.controls['shippingAddress'].hasError('required')">
                                    Dirección de entrega <strong>requerida</strong>
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <!-- city -->
                    <div class="row">
                        <div class="col">
                            <mat-form-field class="full-width">
                                <input matInput placeholder="Ciudad" formControlName="city">
                                <mat-error *ngIf="addressForm.controls['city'].hasError('required')">
                                    Ciudad <strong>requerida</strong>
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </ng-container>
                <ng-template #showStores>
                    <!-- store -->
                    <div class="row">
                        <div class="col">
                            <mat-form-field class="full-width">
                                <mat-label> Seleccione una tienda</mat-label>
                                <mat-select formControlName="store" >
                                    <mat-option *ngFor="let tienda of stores" [value]="tienda">
                                        {{ tienda.name }} -- {{ tienda.openingHours }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </ng-template>                
                <div class="row">
                    <div class="col">
                        <button mat-raised-button color="primary" class="full-width" [disabled]="addressForm.invalid" type="submit">
                            Checkout
                        </button>
                    </div>
                </div>
            </form>
        </mat-card-content>
    </mat-card>

    <mat-card class="details-card">
        <mat-card-header class="title">
            <mat-card-title>Checkout details</mat-card-title>
        </mat-card-header>
        <mat-card-content class="body ">            
            <app-details class="full-width"></app-details> 
        </mat-card-content>
    </mat-card>
</div>